*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.calculator{
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(20, 20, 20);
  max-width: 500px;
  border-radius: 10px;
  overflow: hidden;
}

#display{
  width: 100%;
  padding: 40px;
  text-align: left;
  border: none;
  background-color: rgb(41, 41, 41);
  font-size: 60px;
  color: white;
}
.keys{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
  justify-content: center;
}

button{
  height: 100px;
  width: 100px;
  background-color: rgb(51, 51, 51);
  font-size: 60px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 100px;
  text-align: center;
}
button:hover{
  background-color: rgba(98, 98, 98, 0.8);
}
button:active{
  background-color: rgba(50, 50, 50, 0.8);
}

.operator-btn{
  background-color: rgb(255, 140, 0);
  color: black;
}
.operator-btn:hover{
  background-color: rgb(255, 173, 100);
}
.operator-btn:active{
  background-color: rgb(255, 141, 41);
}